<head>
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div>
    <nav class="nav">
      <ul>
        <li class="heading">
          <a routerLink="/freemium"><h3>Freemium</h3></a>
        </li>
        <li>
          <a routerLink="/rent"><h3>Rent</h3></a>
        </li>
      </ul>
    </nav>
    <img
      class="logo"
      src="../../assets/Images/profileImage.png"
      (click)="navigateToLogin()"
    />
    <!-- <div class="w1-padding w1-xlarge w1-teal"> -->
    <!-- <i class='bx bxs-user-circle w3-xlarge'></i> -->
    <!-- </div> -->
  </div>
</body>
