<head>
  <title>Encrypted Video Playback</title>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.2.0/controls.css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.2.0/shaka-player.ui.js"></script> -->
  <base href="/" />
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.1.1/shaka-player.compiled.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/3.1.1/shaka-player.compiled.js"></script>
  <script src="runtime.js" defer></script>
  <script src="polyfills.js" defer></script>
  <script src="styles.js" defer></script>
  <script src="scripts.js" defer></script>
  <script src="vendor.js" defer></script>
  <script src="main.js" defer></script>
</head>
<body>
  <div class="video-container">
    <div class="detail-pic">
      <img
        title="{{ this.selectedVideo.mediaName }}"
        src="{{ this.mediaBannerURL }}"
      />
    </div>
    <div class="video-info">
      <div *ngIf="this.selectedVideo.type !== 'freemium'">
        <button class="btn" (click)="rentTheVideo()">Rent</button>
      </div>
      <h2 class="video-title">Name: {{ this.selectedVideo.mediaName }}</h2>
      <p class="video-description">Price {{ this.selectedVideo.price }}</p>
    </div>
  </div>
</body>
