<div>
<div class="obs-form">
    <div class="header">
        <h1>OBS CONNECTION</h1>
    </div>
    <p> To get started, enter OBS port and password below and click on Connect</p>
    <div>
    <input id="port" lebel="port" placeholder="Port Number"/>
    </div>
    <div>
    <input id="obs-password" placeholder="Password"/>
    </div>
    
    <div class="btn-div">
    <button type="button"  class='button-3' (click)="obsConnect()">Connect</button>
    </div>
    <div>
    </div>
    <div>
        <input id="entry" placeholder="y"/>
        <button type="button"  class='button-3' (click)="func()">Trigger</button>
        </div>
</div>
</div>
