<!-- <body>
  <div class="wrapper">
    <h1>Login</h1>

    <div class="input-box">
      <input type="text" placeholder="Username" required />
    </div>
    <div class="input-box">
      <input type="password" placeholder="Password *" required />
    </div>
    <div class="submit-btn">
      <button type="submit">Login</button>
    </div>
    <div class="register">
      <p>
        Don't have an account?
        <a class="reg-link" (click)="navToRegister()">Register</a>
      </p>
    </div>
  </div>
</body> -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Please enter email and password</h6>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <div
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors['required']">Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div
              *ngIf="submitted && f['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['password'].errors['required']">
                Password is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary p-2 my-2">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
          </div>
        </form>
        <!-- <form [formGroup]="loginForm" (ngSubmit)="login(email, password)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary mb-2 p-2">Login</button>
        </form> -->
        <a class="login-a" routerLink="/register"
          >New user? Click to signup !!</a
        >
      </div>
    </div>
  </div>
</div>
