<head>
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
    <!-- <script src="https://cdn.jwplayer.com/libraries/0kJ1cxRW.js"></script> -->
    <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
</head>


<h3>Client side ad insertion demo</h3>
<div id="jwplayer-container2">
    <script src="https://cdn.jwplayer.com/players/u7F0z0hT-1XxEKxWy.js"></script>
</div>
<h3>Server side ad insertion demo</h3>
<!-- <div id=""> -->
    <div id="jwplayer-container">
        <script src="https://cdn.jwplayer.com/players/u7F0z0hT-1XxEKxWy.js"></script>
    </div>
<!-- <video id = "jwplayer-container" width="624" height="352" controls>
    <source src="../../assets/video/highlights670304_50.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> -->
<!-- </div> --> -->